@font-face {
    font-family: Moderne;
    src: url(./Moderne-Sans-Font/Moderne\ Sans\ Font.ttf);
  }

body {
    background: #0a192f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    scroll-behavior:smooth;
    color: #a8b2d1;
}

/* First Navigation Styles */

nav a:link {
    color:black;
}

/* anchor tags which are being pressed/clicked */
nav a:active {
    color: black;
}

/* anchor tags which have an href which exists in the browser's history */
nav a:visited {
    color: black;
}

a:active {
    color:purple;
}

.navigation {
    display: flex;
    padding-top: 0.3rem;
    height: 5vh;
    width: 100%;
    align-items:center;
    justify-content:space-evenly;
}

#sun {
    cursor: pointer;
    transition: all 0.2s;
}

.socialicons {
    display: flex;
}

.icon {
    margin-inline: 4vw;
    color:#ccd6f6  ;
}

.fa-github:hover {
    transition: 0.3s;
    color: white;
}

.fa-linkedin:hover {
    transition: 0.3s;
    color: #1DA1F2;
}

.fa-code:hover {
    transition: 0.3s;
    color: #E1306C;
} 

.fa-envelope:hover {
    transition: 0.3s;
    color: #1DA1F2;
}

.fa-sun {
    color: rgb(198, 198, 5);
}

.fa-sun:hover {
    color: yellow;
    transition: 0.3s;
}


/* Main Page with Image */

.main {
    height:94vh;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-family: Moderne;
    letter-spacing: 0.1rem;
    font-size: 1.1rem;
    margin: auto;
}


#mainimg {
    width: 55vw;
    height: 55vw;
    position: relative;
    border-radius:30% 70% 47% 53% / 30% 30% 70% 70%  ;
}

.name {
    margin-top: 2vh ;
    color: #ccd6f6;
}

.name h1 {
    text-align: center;
}

.name p {
    font-size: 0.9rem;
}

/* Second Navigation Styles */

.aboutnav {
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content:space-around;
    height: 10vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #0a192f;
    color: #ccd6f6;
    box-shadow: 0px 5px 41px -14px rgba(0,0,0,0.75);
    border-bottom: 1px solid #050C17;
}

.largenav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}


.aboutnav a:link {
    text-decoration: none;
    color: #ccd6f6;
}

.aboutnav a:visited {
    text-decoration: none;
    color: #ccd6f6;
}

.aboutnav a:active {
    text-decoration: none;
    color: #64ffda;
}

.aboutnav a:hover {
    color: #64ffda;
    transition: 0.3s;
} 

.logoyugam {
    display: none;
}


/* About Page (nice to see you section) */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 2;
    max-width: 80%;
    height: 90vh;
    margin: 1rem auto;
    z-index: 1;
}

#yugam {
    text-decoration-line: underline;
    text-decoration-color: rgba(216,180,254,.6);
    color: #64ffda;
}

.aboutpara {
    text-align: justify;
}



/* myskills Page (skills section) */


.technologies {
    height: calc(99vh - 10vh);
    padding: 0;
    max-width: 80%;
    margin: auto;
    text-align: justify;
}

.myskills {
    font-size: 2rem;
    font-weight: lighter;
    height: 11vh;
    color: #ccd6f6;
}

.skillspara {
    text-align: justify;
    height: 20vh;
    justify-content: center;
    align-items: center;
}

.techicons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
    justify-items: center;
    align-items:center;
    height:30vh;
    gap: 2vw;
}

.fa-html5:hover {
    color:#E44D26;
    transition: 0.3s;
}

.fa-css3-alt:hover {
    color:#264de4;
    transition: 0.3s;
}

.fa-js:hover {
    color:#f0db4f;
    transition: 0.3s;
}

.fa-node:hover {
    color:#215732;
    transition: 0.3s;
}

.fa-bootstrap:hover {
    color:#563d7c;
    transition: 0.3s;
}

.fa-java:hover {
    color:#5382a1;
    transition: 0.3s;
}

.fa-linux:hover {
    color:  rgb(165, 165, 13);
    transition: 0.3s;
}

.fa-square-git:hover {
    color: #F1502F;
    transition: 0.3s;
}

.fa-react:hover {
    color: #61DBFB;
    transition: 0.3s;
}

.fa-microsoft:hover {
    color:#1DA1F2;
    transition: 0.3s;
}

.fa-network-wired:hover {
    color:rgb(139, 64, 29);
    transition: 0.3s;
}

.fa-aws:hover {
    color: #F1502F;
    transition: 0.3s;
}

/* Projects Section (Coming Soon part) */

.projects {
    min-height: calc(100vh - 10vh);
    max-width: 80%;
    margin: auto;
    text-align: justify;
}


.projectdesc {
    text-align: center;
    display: grid;
    place-items: center;
    min-height: 70vh;
}


/* Work Experience Section (experience part) */

.workexperience {
    min-height: calc(100vh - 10vh);
    max-width: 90%;
    text-align: left;
    margin: auto;
}

.workexperiencetitle {
    font-size: 2rem;
    font-weight: lighter;
    height: 11vh;

    color: #ccd6f6;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer {
    border-left: 1px solid #333;
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    margin: 0 0 20px 20px;
    padding: 1.5rem;
    background: white;
    border-radius: 15px;
    max-width: 100%;
    background-color: #112240;
  }

  .info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .title {
    font-size: 1.15rem;
    font-weight: bold;
    color: #ccd6f6;
  }

  .title::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 999px;
    left: -27px;
    border: 2.5px solid black;
  }

  .company, .time {
    font-size: 0.9rem ;
    line-height: 0.9rem;
    font-weight: 600;
  }

  .workdescription {
    font-size: 0.95rem;
  }


/* Footer Section */

footer {
    text-align: center;
    color: #ccd6f6;
}

#footername {
    color: #64ffda;
}

@media screen and (min-width: 768px) {
    

.navigation {
    justify-content: space-evenly;
}

.main {
    height: 93vh;
    flex-direction: row-reverse;
    justify-content: space-around;
}

#mainimg {
    width: 35vw;
    height: 35vw;
    position: relative;
    border-radius:30% 70% 47% 53% / 30% 30% 70% 70%  ;
}

.skillsdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10vh;
}

.skillspara {
    width: 30%;
}

.techicons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items:center;
    height: 30vh;
    width: 60%;
    place-items: center;
}


}

@media screen and (min-width: 768px) {

#mainimg {
    width: 25vw;
    height: 25vw;
    position: relative;
    border-radius:30% 70% 47% 53% / 30% 30% 70% 70%  ;
}


}

@media screen and (min-width: 1024px) {

.main {
    font-size: 1.3rem;
}

.socialicons {
    width: 80%;
}

#sun {
    margin-inline: auto;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#aboutheading {
    width: 50%;
}

.aboutpara {
    width: 50%;
}

#mainimg {
    width: 25vw;
    height: 25vw;
    position: relative;
    border-radius:30% 70% 47% 53% / 30% 30% 70% 70%  ;
}

.largenav {
    width: 50%;
}

.logoyugam {
    position: relative;
    display: block;
    width: 20%;
    padding-left: 2rem;
}

#imglogo{
    display: block;
    width: 85px;
    height: 80px;
    
} 

}